.fav{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 4em;
    color : red;
    float: left;
    padding: 9px;
}
.fav2{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 4em;
    color : red;
    float: left;
    padding: 9px;
}
.fav3{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 4em;
    color : red;
    float: left;
    padding: 9px;
}
.numbers{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 1em;
    padding: 9px;
}
.highlight {
    color: blue;
  }